.btn { 
    margin-top: 1%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

#indice-button:hover {
    color: rgb(176, 176, 176);
    background-color: rgb(103, 17, 122);
}
